.width-test {
  width: 0;
  display: inline-block;
  outline: #333 2rpx solid;
  color: #333;
  align-items: center;
  align-self: auto;
  &::before {
    content: '你love我';
    color: #ffffff;
    display: flex;
  }
}