@initStart: 8;
@initEnd: 48;
@between: 8;

.loop(@margeStart: @initStart, @margeEnd: @initEnd) when(@margeStart <=@margeEnd) {
  .padding-@{margeStart} {
    padding: "@{margeStart}px";
  }

  .loop(@margeStart + @between);
}

.loop-t(@margeStart: @initStart, @margeEnd: @initEnd) when(@margeStart <=@margeEnd) {
  .pt-@{margeStart} {
    padding-top: "@{margeStart}px";
  }

  .loop-t(@margeStart + @between);
}

.loop-b(@margeStart: @initStart, @margeEnd: @initEnd) when(@margeStart <=@margeEnd) {
  .pb-@{margeStart} {
    padding-bottom: "@{margeStart}px";
  }

  .loop-b(@margeStart + @between);
}

.loop-l(@margeStart: @initStart, @margeEnd: @initEnd) when(@margeStart <=@margeEnd) {
  .pl-@{margeStart} {
    padding-left: "@{margeStart}px";
  }

  .loop-l(@margeStart + @between);
}

.loop-r(@margeStart: @initStart, @margeEnd: @initEnd) when(@margeStart <=@margeEnd) {
  .pr-@{margeStart} {
    padding-right: "@{margeStart}px";
  }

  .loop-r(@margeStart + @between);
}

.loop(@initStart, @initEnd);
.loop-t(@initStart, @initEnd);
.loop-b(@initStart, @initEnd);
.loop-l(@initStart, @initEnd);
.loop-r(@initStart, @initEnd);